.cart {
  display: flex;
}

.cart > div {
  flex: 1;
  margin: 50px;
}

.payment form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.wrapper {
  backdrop-filter: blur(20px);
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  position: fixed;
  right: 23%;
  top: 30%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  font-size: 20px;
}

.wrapper label {
  padding-left: 5px;
}

.wrapper button {
  height: 60px;
  width: 150px;
  border-radius: 8px;
  border: none;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.5);
  font-size: 30px;
  font-family: "Pacifico", "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
  background-color: rgb(255, 187, 62);
  transition: 0.4s ease-in-out;
}

.wrapper button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.wrapper button:active {
  transform: scale(0.9);
}
