.filterOrder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.filter {
  display: flex;
  margin: 20px 50px;
}

.filter span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter img {
  height: 20px;
}

select {
  padding: 8px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  background-color: transparent;
  width: 60px;
  transition: background-color 0.2s ease-in-out;
}

select option {
  background-color: rgb(255, 187, 62);
  color: black;
  outline: none;
  border: none;
  text-align: start;
}

select:focus {
  outline: none;
  border-color: none;
}

select:hover {
  cursor: pointer;
  background-color: rgb(255, 221, 158);
  border-radius: 5px;
}

.order {
  margin: 0 50px;
}

.order > select {
  width: 90px;
}
