.header {
  display: flex;
  width: auto;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  background-color: black;
  color: rgb(255, 187, 62);
  position: sticky;
  top: 0;
  z-index: 1;
  font-family: "Pacifico", "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
}

.header nav {
  font-size: 20px;
}

.header img {
  height: 25px;
  filter: invert(92%) sepia(15%) saturate(6488%) hue-rotate(327deg)
    brightness(105%) contrast(101%);
}

ul {
  display: flex;
  gap: 10vw;
  justify-content: space-between;
  align-items: center;
}

li {
  list-style-type: none;
}

li > * {
  text-decoration: none;
}

li > *:hover {
  cursor: pointer;
}

li p {
  border-bottom: 4px solid black;
  color: rgb(255, 187, 62);
  padding: 2px 8px;
}

li p:hover {
  border-bottom: 4px solid rgb(255, 187, 62);
}

.active > p {
  border-bottom: 4px solid rgb(255, 187, 62);
}

.wrapper > * {
  display: flex;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.number {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: green;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  margin-left: -10px;
  z-index: 1;
}

@media (max-width: 1100px) {
  .header {
    position: static;
    justify-content: space-evenly;
    gap: 2vw;
  }
  .header > h1 {
    display: none;
  }
}

@media (max-width: 400px) {
  ul {
    padding: 0;
    gap: 5px;
  }
}
