.header {
  display: flex;
  width: auto;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  background-color: black;
  color: var(--mainColor);
  position: sticky;
  top: 0;
  z-index: 1;
  font-family: "Pacifico";
}

.header nav {
  font-size: 20px;
}

.header img {
  height: 25px;
  filter: invert(92%) sepia(15%) saturate(6488%) hue-rotate(327deg)
    brightness(105%) contrast(101%);
  transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}

.header img:hover {
  transform: scale(1.1);
  filter: invert(84%) sepia(10%) saturate(2103%) hue-rotate(327deg)
    brightness(116%) contrast(100%);
}

ul {
  display: flex;
  gap: 10vw;
  justify-content: space-between;
  align-items: center;
}

li {
  list-style-type: none;
}

li > * {
  text-decoration: none;
}

li > *:hover {
  cursor: pointer;
}

.wrapper > * {
  display: flex;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.number {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: green;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  margin-left: -10px;
  z-index: 1;
}

@media (max-width: 1100px) {
  .header {
    position: static;
    justify-content: space-evenly;
    gap: 2vw;
  }
  .header > h1 {
    display: none;
  }
}

@media (max-width: 400px) {
  ul {
    padding: 0;
    gap: 1rem;
  }
}

/* Slide in effect using ::after pseudo element*/
li p {
  display: block;
  position: relative;
  padding: 0.2em 0;
  overflow: hidden;
  color: var(--mainColor);
}

li p::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--mainColor);
  opacity: 0;
  transition: opacity 500ms, transform 500ms;
  transform: translate3d(-100%, 0, 0);
}

li p:hover::after,
li a.active p::after {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
