.stars {
  --percent: calc(var(--rating) / 5 * 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-family: Times;
  line-height: 1;
}

.stars::before {
  content: "★★★★★";
  letter-spacing: 3px;
  background: linear-gradient(
    90deg,
    rgb(247, 197, 0) var(--percent),
    rgb(197, 197, 197) var(--percent)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.stars > p {
  font-size: 15px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
